#root,
body,
html {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ant-layout {
  display: flex;
  width: 100%;
  min-height: 100%;
  justify-content: flex-start;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo svg {
  font-size: 24px;
}
